.dashboard {

  .panel {
    border: solid 1px black;
    height: 95vh;
    padding: 10px;
  }

  .vertical-middle {
    position: relative;
    top: 50%;
    transform: translateY(50%);
  }

  .newsFeed {
    @extend .panel;
    float: left;
    width: 300px;
    overflow: auto;

    .feedItem {

      padding: 5px 0;

      .time {
        margin-top: 3px;
        color: red;
        float: left;
        font-size: 12px;
        width: 50px;
      }
      .title {
        margin-left: 50px;
      }
    }
  }

  .readFrame {
    @extend .panel;

    width: 98%;

    object {
      width: calc(100% - 311px);
      height: 100%;
    }
  }
}